html, body, div, figure, figcaption, img, blockquote, h1, h2, h3, h4, h5, ol, p, pre, ul, li ul, li ol, abbr, a, cite, code, em, kbd, li, span, strike, strong, sub, sup, main, article, aside, footer, header, nav, section { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; }
main, article, aside, footer, header, nav, section { display: block; }
:root{ font-size: small; }
@media only screen and (min-width: 13.75em){
:root{ font-size: medium; }
}
@media only screen and (min-width: 15.625em){
:root{ font-size: large; }
}
@media only screen and (min-width: 31.25em){
:root{ font-size: x-large; }
}
body{ width: 100%; font-family: Merriweather, serif; font-style: normal; font-weight: normal; line-height: 1.5; background-color: rgb(255, 255, 255); color: rgb(50, 50, 50); -webkit-font-smoothing: antialiased; }
h1, h2, h3{ font-family: Lato, sans-serif; font-weight: bold; line-height: 1; }
h2, .post-title{ font-size: 2em; margin-bottom: 1.5rem; }
h3{ font-size: 1.5rem; }
p{ margin-bottom: 1.5rem; }
pre{ padding-top: 1rem; padding-right: 1rem; padding-bottom: 1rem; padding-left: 1rem; position: relative; background-color: rgb(57, 57, 57); }
code{ overflow-x: auto; overflow-y: auto; max-width: 100%; position: relative; line-height: inherit; font-family: Consolas, Monaco, 'Andale Mono', monospace; font-size: 0.75rem; white-space: pre; -webkit-hyphens: none; }
pre code{ height: 100%; max-height: 20rem; display: block; color: rgb(255, 255, 255); }
:not(pre) > code{ font-size: 0.9rem; color: rgb(57, 57, 57); display: inline; padding-top: 0px; padding-right: 0.15rem; padding-bottom: 0px; padding-left: 0.15rem; border-top-left-radius: 3px 3px; border-top-right-radius: 3px 3px; border-bottom-right-radius: 3px 3px; border-bottom-left-radius: 3px 3px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(203, 203, 203); border-right-color: rgb(203, 203, 203); border-bottom-color: rgb(203, 203, 203); border-left-color: rgb(203, 203, 203); }
code.path{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
a{ color: rgb(42, 143, 159); text-decoration: none; }
ul{ margin-bottom: 1.5rem; }
ul{ list-style-type: disc; list-style-position: outside; list-style-image: none; margin-left: 1rem; }
header[role="banner"]{ padding-top: 3rem; padding-right: 0.625rem; padding-bottom: 3rem; padding-left: 0.625rem; }
 header[role="banner"] h2{ font-size: 2.6rem; margin-bottom: 0px; }
nav { width: 100%; height: 1.5rem; font-size: 1rem; }
@media only screen and (min-width: 40.625em){
nav { font-size: 0.875rem; }
}
nav ul { margin-bottom: 0px; margin-left: 0px; list-style-type: none; }
nav li { float: left; }
nav li::before { content: '/'; display: inline; margin-top: 0px; margin-right: 0.5rem; margin-bottom: 0px; margin-left: 0.5rem; }
nav li:first-of-type::before { display: none; }
.grid{ position: relative; }
@media only screen and (min-width: 45em){
.grid{ max-width: 720px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
}
article{ padding-top: 0px; padding-right: 0.625rem; padding-bottom: 0px; padding-left: 0.625rem; margin-bottom: 1.5rem; width: 100%; position: relative; overflow-x: hidden; overflow-y: hidden; }
.post-meta{ font-size: 0.625em; }
.note{ font-size: 0.875rem; font-style: italic; padding-top: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-left: 0.5em; color: rgb(101, 101, 101); background-color: rgb(241, 241, 241); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(203, 203, 203); border-right-color: rgb(203, 203, 203); border-bottom-color: rgb(203, 203, 203); border-left-color: rgb(203, 203, 203); border-top-left-radius: 3px 3px; border-top-right-radius: 3px 3px; border-bottom-right-radius: 3px 3px; border-bottom-left-radius: 3px 3px; }