html, body, div, figure, figcaption, img, blockquote, h1, h2, h3, h4, h5, ol, p, pre, ul, li ul, li ol, abbr, a, cite, code, em, kbd, li, span, strike, strong, sub, sup, main, article, aside, footer, header, nav, section { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; }
main, article, aside, footer, header, nav, section { display: block; }
body{ width: 100%; font-family: Merriweather, serif; font-size: large; font-style: normal; font-weight: normal; line-height: 1.5; background-color: white; color: rgb(50, 50, 50); -webkit-font-smoothing: antialiased; }
@media only screen and (min-width: 40.625em){
body{ font-size: x-large; }
}
h1, h2, h3{ font-family: Lato, sans-serif; font-weight: bold; }
h2{ font-size: 2em; margin-bottom: 0.75em; }
h3{ font-size: 1.5em; }
p{ margin-bottom: 1.5em; }
 sup{ line-height: 0; }
a{ color: rgb(42, 143, 159); text-decoration: none; }
header[role="banner"]{ padding-top: 3em; padding-right: 0.625em; padding-bottom: 3em; padding-left: 0.625em; }
header[role="banner"] h1{ font-size: 2.6em; line-height: 1; margin-bottom: 0px; }
nav { width: 100%; height: 1.5em; margin-top: 0.25em; font-size: 1em; }
@media only screen and (min-width: 40.625em){
nav { font-size: 0.875em; }
}
nav ul { margin-bottom: 0px; margin-left: 0px; list-style-type: none; }
nav li { float: left; }
nav li::before { content: '/'; display: inline; margin-top: 0px; margin-right: 0.5em; margin-bottom: 0px; margin-left: 0.5em; }
nav li:first-of-type::before { display: none; }
.grid{ position: relative; }
@media only screen and (min-width: 45em){
.grid{ max-width: 720px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
}
article{ padding-top: 0px; padding-right: 0.625em; padding-bottom: 0px; padding-left: 0.625em; margin-bottom: 2em; width: 100%; position: relative; overflow-x: hidden; overflow-y: hidden; }
section{ margin-bottom: 1em; }
.project{ width: 100%; }
.project:nth-of-type(3){ clear: both; }
@media only screen and (min-width: 43.75em){
.project{ width: 50%; float: left; }
}
.more{ font-size: 0.875em; }
footer[role="contentinfo"]{ padding-top: 0.625em; padding-right: 0.625em; padding-bottom: 0.625em; padding-left: 0.625em; width: 100%; height: auto; color: rgb(50, 50, 50); text-align: right; }
footer[role="contentinfo"] p{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 0.625em; }