html, body, div, figure, figcaption, img, blockquote, h1, h2, h3, h4, h5, ol, p, pre, ul, li ul, li ol, abbr, a, cite, code, em, kbd, li, span, strike, strong, sub, sup, main, article, aside, footer, header, nav, section { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; }
main, article, aside, footer, header, nav, section { display: block; }
:root{ font-size: small; }
@media only screen and (min-width: 13.75em){
:root{ font-size: medium; }
}
@media only screen and (min-width: 15.625em){
:root{ font-size: large; }
}
@media only screen and (min-width: 31.25em){
:root{ font-size: x-large; }
}
body{ width: 100%; font-family: Merriweather, serif; font-style: normal; font-weight: normal; line-height: 1.5; background-color: rgb(255, 255, 255); color: rgb(50, 50, 50); -webkit-font-smoothing: antialiased; }
h1, h2, h3{ font-family: Lato, sans-serif; font-weight: bold; line-height: 1; }
h2{ font-size: 2em; margin-bottom: 1.5rem; }
h3{ font-size: 1.5rem; margin-bottom: 0.25rem; }
p{ margin-bottom: 1.5rem; }
 sup{ line-height: 0; }
a{ color: rgb(42, 143, 159); text-decoration: none; }
ul{ margin-bottom: 1.5rem; }
ul{ list-style-type: disc; list-style-position: outside; list-style-image: none; margin-left: 1rem; }
header[role="banner"]{ padding-top: 3rem; padding-right: 0.625rem; padding-bottom: 3rem; padding-left: 0.625rem; }
header[role="banner"] h1{ font-size: 2.6rem; margin-bottom: 0px; }
nav { width: 100%; height: 1.5rem; font-size: 1rem; }
@media only screen and (min-width: 40.625em){
nav { font-size: 0.875rem; }
}
nav ul { margin-bottom: 0px; margin-left: 0px; list-style-type: none; }
nav li { float: left; }
nav li::before { content: '/'; display: inline; margin-top: 0px; margin-right: 0.5rem; margin-bottom: 0px; margin-left: 0.5rem; }
nav li:first-of-type::before { display: none; }
.grid{ position: relative; }
@media only screen and (min-width: 45em){
.grid{ max-width: 720px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
}
article{ padding-top: 0px; padding-right: 0.625rem; padding-bottom: 0px; padding-left: 0.625rem; margin-bottom: 1.5rem; width: 100%; position: relative; overflow-x: hidden; overflow-y: hidden; }
section{ margin-bottom: 1.5rem; }
.project{ width: 100%; }
.project:nth-of-type(3){ clear: both; }
@media only screen and (min-width: 42.1875em){
.project{ width: 50%; float: left; }
}
.post-list{ list-style-type: none; margin-left: 0px; }
.post-list li{ margin-bottom: 1.5rem; }
.more{ font-size: 0.875rem; }
.more::before{ content: "\203A"; display: inline; padding-right: 0.25em; }
footer[role="contentinfo"] { padding-top: 0.625rem; padding-right: 0.625rem; padding-bottom: 0.625rem; padding-left: 0.625rem; width: 100%; height: auto; color: rgb(50, 50, 50); text-align: right; }
footer[role="contentinfo"] p { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 0.625em; }