 /*
 * Reset (Modified to suit my needs)
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 */

html, body, div, figure, figcaption, img,
blockquote, h1, h2, h3, h4, h5, ol, p, pre, ul, li ul, li ol,
abbr, a, cite, code, em, kbd, li, span, strike, strong, sub, sup,
main, article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
main, article, aside, footer, header, nav, section {
  display: block;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
