<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <noscript>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:700,700italic' rel='stylesheet' type='text/css'>
  </noscript>

  {% if page.isPost %}{% include critical.post.min.html %}{% else %}{% include critical.min.html %}{% endif %}

  <script>
    {% include loadcss.min.js %}
    loadCSS( "http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700italic,700" );
    loadCSS( "http://fonts.googleapis.com/css?family=Lato:700,700italic" );
    loadCSS( "{{ '/css/base.css' }}" );
    {% if page.code %}loadCSS( "{{ '/css/code.css' }}" );{% endif %}
  </script>

  <title>{% if page.title %}{{ page.title | append: " | ryandomingue.com" }}{% else %}{{ site.title }}{% endif %}</title>

  <meta property="og:image" content="{% if page.mainImage %}{{ page.mainImage }}{% else %}/images/ryandomingue-bw.jpg{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <meta property="og:site_name" content="Ryan Domingue dot com">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Ryan Domingue">
  <meta name="copyright" content="2009-{{ site.time | date: '%Y' }}">
  <meta name="robots" content="index, follow">

  <noscript><link rel="stylesheet" href="{{ '/css/base.css' }}"></noscript>
  {% if page.code %}<noscript><link rel="stylesheet" href="{{ '/css/code.css' }}"></noscript>{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  {% if page.picturefill %}<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js" async></script>{% endif %}

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, user-scalable=1" />

  <link rel="shortcut icon" href="/images/device-icons/favicon.ico">

  <!-- Tile image for Windows devices 144x144 -->
  <meta name="msapplication-TileImage" content="/images/device-icons/icon-144.png">
  <!-- Tile color for Windows devices -->
  <meta name="msapplication-TileColor" content="#2a8f9f">
  <!-- 57x57 (precomposed) for iPhone 3GS, 2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="/images/device-icons/icon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/device-icons/icon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and 2012 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/device-icons/icon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/device-icons/icon-144.png">
  <meta name="apple-mobile-web-app-title" content="Ryan D.">

</head>
