/**
 * Base typography
 */

$base-font-family: 'Merriweather', serif;
$heading-font-family: 'Lato', sans-serif;
$base-font-size: 16;

/**
 * Columns
 */

// Set up the columns
$column-width: 40;
$gutter-width: 20;
$number-of-columns: 12;

// Calculate the max width of the grid
$max-grid-width: ($column-width * $number-of-columns) + ($gutter-width * $number-of-columns);

// Calculate the length of the gutters
$gutter-spacing: (($gutter-width/2)/$base-font-size) + em;

/**
 * Colors
 */

// Main theme color
$theme-main: rgb(42, 143, 159);

// Used as selection background
$theme-secondary: rgb(247, 157, 0);

// Alternate secondary color
$theme-alt: rgb(239, 34, 52);

// Lightest theme color, used for body background
$theme-base: rgb(255, 255, 255);

$theme-base-dark: rgb(50, 50, 50); // Main font body color
$theme-decoration: lighten($theme-base-dark, 20%); // Aside
$theme-decoration-light: lighten($theme-base-dark, 60%); // Horizontal rules

// Used as the background for inline code
$theme-highlighter: lighten($theme-decoration-light, 15%); // border around highlighting
