<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="grid">

    <header role="banner">

      <h1>Greetings, Earthling!</h1>

      <nav role="navigation"><a href='/about/'>I am Ryan</a>.</nav>

    </header>

    <main role="main">

{{ content }}

      {% if site.posts.size > 0 %}
      <article>

        <h2>{{ site.heading_blog }}</h2>

        <ul class="post-list">
          {% for post in site.posts limit:4 %}
            <li>

              <h3>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
              </h3>

              {{ post.excerpt }}

            </li>
          {% endfor %}
        </ul>

        {% if site.posts.size > 4 %}
        <a class="more" href="{{ site.blogroll }}">View the post archive</a>
        {% endif %}

      </article>
      {% endif %}

    </main>

{% include footer.html %}

  </div>

</body>

</html>
