---
layout: default
isPost: true
---

      <header role="banner">

        <h2>{{ site.heading_blog }}</h2>
        {% include nav.html %}

      </header>

      <main role="main">

        <article>

          <p class="post-meta">
            <time datetime="{{ page.date | date: "%F %R %Z"}}">{{ page.date | date: "%B %-d, %Y" }}</time>
          </p>

          <h1 class="post-title">{{ page.title }}</h1>

{{ content }}

          <hr>

          <p><em>See something that's not quite right? Have a question about something in this post? <a href="{{ "/ryandomingue.com/issues" | prepend: site.github_base_url }}">Open an issue on Github</a> or <a href="http://twitter.com/{{ site.twitter_username }}">let me know on Twitter</a>.</em></p>

        </article>

      </main>
